<div class="container">
    <h2 mat-dialog-title>Ajouter un utilisateur :</h2>
    <form class="example-form" [formGroup]="form">
        <mat-form-field class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="firstname">
        </mat-form-field>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Nom</mat-label>
            <input matInput formControlName="lastname">
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width">
            <mat-label>Téléphone</mat-label>
            <input matInput type="tel" pattern="(0|(\\+33)|(0033))[1-9][0-9]{8}" maxlength="10" formControlName="phone">
          </mat-form-field></td>
        </tr></table>
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. dupont@email.fr" formControlName="email">
          </mat-form-field></td>
        </tr></table>
      </form>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Fermer</button>
      <button mat-button mat-dialog-close (click)="createUser()">Valider</button>
    </mat-dialog-actions>
</div>
